<div><img src = http://3.bp.blogspot.com/-8krAYFa0B7g/Tci2RvguHNI/AAAAAAAAAG4/xm4iyIvf-G8/s1600/Electric%2BTiki%2B-%2BWoody%2B0006.jpg></div>
<div>
<p>He is a vintage cowboy doll from the 1950s who belongs to a boy named Andy Davis (later a little girl called Bonnie). Within the universe of the Toy Story films, Woody is a toy based on a character of the same name from a 1950s children's TV series called Woody's Roundup. He serves as a tritagonist in Toy Story of Terror! and Toy Story That Time Forgot.</p> </div>