<div class= "big">
  <div>
  	<h3>Contact us:</h3>
  </div>
			<li class = "contacts "> <img class= "imagenIico" src= "https://daks2k3a4ib2z.cloudfront.net/53cda9eccbc8e0894bcf7766/53d15ee2c886457038f62ea0_email_icon.png"><a class = "texto" href="mailto:jrodriguezp13081991@gmail.com">Email</a></li>
  		<li class = "contacts "> <img class= "imagenIico" src= "http://www.pumpzrecordings.com/images/images_site/facebook_ico_rd.png"><a class = "texto" href="https://www.facebook.com/profile.php?id=100004069554568" target="_blank" >Facebook</a></li>
  		<li class = "contacts "> <img class= "imagenIico" src= "http://sciactive.github.io/pnotify/includes/github-icon.png"><a class = "texto" href="https://github.com/JKRP1308" target="_blank" >Github</a></li>
  		<li class = "contacts "> <img class= "imagenIico" src= "http://www.beltia-automotive.com/assets/img/ico-twitter.png"><a class = "texto" href="https://twitter.com/JessicaRP1308" target="_blank" >Twitter</a></li>
</div>