

<div class = "main-section">
  <script src="//code.jquery.com/jquery-latest.min.js"></script>
	<script src="//unslider.com/unslider.min.js"></script>
		<div class="unslider">
    	<ul>
        	<li><img src='http://postitideas.3m.eu/images/thumbnails/1285662423-1285338142-hello-image-thumb.jpg'></li>
           <li><img src='http://static.comicvine.com/uploads/original/11121/111217887/4391976-woody.jpg'></li>
        	<li><img src='http://postitideas.3m.eu/images/thumbnails/1285662423-1285338142-hello-image-thumb.jpg'></li>
           <li><img src='http://static.comicvine.com/uploads/original/11121/111217887/4391976-woody.jpg'></li>
       </ul>
	</div>
</div>
<div class = "supporting-section">
  
</div>
