<div class = blank>
  <h1 class= "name">Jessica Rodriguez</h1>
</div>
<div class="main home"> <div class="container"> <h2 class= "info">Hello. I am trying to develop websites using codecademy courses</h2> </div> </div>
<div class = blank>
  <%= link_to "View my Work", portfolio_path , :class => "view_button" %>
</div>
