<div class="header"> 
 <div class="container"> 
        <li class= listItem>
          <a href="welcome">Welcome</a>
        </li>
			 <li class= listItem>
         <a href="portfolio">Portfolio</a>
        </li>
        <li class= listItem>
          <a href="https://medium.com/about-codecademy">Blog</a>
        </li> 
        <li class= listItem>
          <a href="about">About</a>
        </li> 
        <li class= listItem>
          <a href="contact">Contact</a>
        </li> 
    </div> 
    </div>
<div class = blank>
  <h1 class= "name">Jessica Rodriguez</h1>
</div>
<div class="main home"> <div class="container"> <h2 class= "info">Hello. I am trying to develop websites using codecademy courses</h2> </div> </div>
<div class = blank>
  <a class="view_button" href="portfolio">View my Work</a>
</div>

<div class="footer"> <div class="container"> <li class= listItem><a class="github" href="#">Github</a></li> <li class= listItem><a class="linkedin" href="#">Linkedin</a></li > <li class= listItem><a class="twitter" href="#">Twitter</a></li> <p>© 2015 JKRP</p> </div> </div>